@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8ff;
}
a {
  text-decoration: none;
}
/* shared style */
.primary-color {
  color: #4e47ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.text-center {
  text-align: center;
}
.btn {
  padding: 12px 36px;
  background-image: linear-gradient(50deg, #4e47ff, #4f4bc9);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  transition: 0.4s;
}
.btn:hover {
  background-image: linear-gradient(90deg, #322bf8, #716df7);
}
/* nav style */
header {
  background-image: url("../images/Hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 600px;
  padding: 50px 0px;
}
.container {
  width: 79.16%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 158px;
}
.logo {
  font-size: 34px;
  font-family: "Inter", sans-serif;
  width: 99px;
  height: 51px;
  color: #4e47ff;
}
.logo span {
  color: rgba(240, 59, 83, 0.719);
}
/* hero section style */
.hero-section {
  width: 890px;
  height: 237px;
  margin: 0 auto;
  padding-bottom: 200px;
}
.hero-title {
  font-size: 55px;
  line-height: 70px;
  font-weight: bold;
  color: #252432;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 37px;
}
/* action section style */
.action-content {
  width: 517px;
  font-family: "Raleway", sans-serif;
}
.action-title {
  font-weight: bold;
  font-size: 42px;
  color: #252432;
  margin-bottom: 24px;
}
.action-description {
  font-weight: normal;
  line-height: 30px;
  font-size: 24px;
  color: #8987a1;
  margin-bottom: 24px;
}
.action-image {
  width: 403px;
}
.action-image img {
  width: 100%;
  border-radius: 48px;
}
.action-container {
  width: 79.16%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
}
/* user information style */
.user-count-container {
  display: flex;
  justify-content: space-around;
}
.user-information {
  width: 79.16%;
  margin: 100px auto;
  padding: 50px 75px;
  background-color: #4e47ff40;
  border-radius: 24px;
}
.information-title {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 35px;
  color: #252432;
}
.user-count h2 {
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.user-count p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: #252432;
}
/* user rating section style */
.user-rating-section {
  margin: 0px auto 80px auto;
}
.user-rating-container {
  max-width: 79.16%;
  margin: 0 auto;
}
.user-title {
  margin-bottom: 50px;
}
.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 24px;
}
.profile-image img {
  border-radius: 50%;
}
.rating {
  max-width: 350px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 10px;
}
.rating-title {
  margin-top: 24px;
  margin-bottom: 8px;
}
.profile-name h4 {
  margin-bottom: 10px;
}
.profile-name {
  color: #8987a1;
}
.rating-subtitle {
  font-family: "Inter", sans-serif;
}
/* focus section style */
.focus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  max-width: 79.16%;
  margin: 0px auto 80px auto;
  padding: 71px 150px;
}
.focus-title {
  font-size: 47px;
  font-weight: bold;
  margin-bottom: 20px;
}
.focus-desc {
  margin-bottom: 20px;
  color: #252432;
}
.focus-container button {
  margin-bottom: 20px;
}
.focus-container img {
  border-radius: 48px;
  max-width: 660px;
}
/* feadback section style */
.feadback-container {
  width: 79.16%;
  margin: 0px auto 80px auto;
  padding: 71px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form {
  max-width: 35%;
}
.form input {
  display: block;
  outline: none;
  border: 1px solid #d6dded;
  padding: 20px 32px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 19px;
  font-size: 20px;
}
.feadback-title {
  max-width: 65%;
  font-size: 97px;
  font-weight: bold;
  color: #000000;
}
form label {
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
.form button {
  width: 100%;
}
.form textarea {
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 19px;
  padding: 20px 32px;
  resize: none;
  outline: none;
  max-width: 100%;
  border: 1px solid #d6dded;
}
/* footer section style */
.footer-section {
  background-color: #ffffff;
}
.footer-container {
  width: 79.16%;
  margin: 0 auto 0px auto;
  padding: 60px 100px;
}
.website-name h1 span {
  color: rgba(240, 59, 83, 0.719);
}
.website-name {
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
}
.website-name h1 {
  font-size: 47px;
}
.website-desc {
  font-size: 18px;
  color: #8987a1;
  margin-bottom: 25px;
}
.footer-link ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link ul li {
  list-style: none;
}
.footer-link li a {
  color: #8987a1;
  margin-right: 30px;
}
